.product1 {
    min-width: 100%;
    min-height: 100vh;
    background-color: #fff;
    /* height: 100vh; */
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(https://www.aiseesoft.com/images/resource/white-iphone-wallpaper/25-pattern6.jpg) repeat scroll 0 0 transparent;
}

.product1 .back{
    padding: 0px 10px;
    background-color: rgb(0, 0, 0);
    margin: 20px 0;
    margin-right: 300px;
    color: white;
    border-radius: 10px;
    border: none;
}

.product1 .back img{
    width: 30px;
    height: 30px;
    /* margin-right: 10px; */
}

.product1 .back:hover{
    background-color: #414141;
}

.product1 .box {
    width: 90%;
    height: 650px;
    background-color: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 0.75rem rgba(0, 0, 0, 0.5));
    margin-bottom: 50px;
}

.product1 .box .boxLeft{
    width: 100%;
    height: 65%;
    /* background-color: #cef103; */
}

.product1 .box .boxLeft .boxLTop{
    width: 100%;
    height: 80%;
    /* background-color: #4200f7; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product1 .box .boxLeft .boxLTop img{
    width: 80%;
    height: 90%;
    /* background-color: #f79400; */
    border-radius: 10px;
}


.product1 .box .boxLeft .boxLBottom{
    width: 100%;
    height: 20%;
    /* background-color: #f79400; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
}

.product1 .box .boxLeft .boxLBottom img{
    width: 20%;
    height: 90%;
    /* background-color: #92754b; */
    border-radius: 10px;
}

.product1 .box .boxRight{
    width: 100%;
    height: 50%;
    /* background-color: #28a745; */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product1 .box .boxRight h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.product1 .box .boxRight p{
    font-size: 1.2rem;
    font-weight: normal;
    color: #28a745;
}

.product1 .box .boxRight button{
    width: 100%;
    height: 50px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.product1 .box .boxRight button:hover{
    background-color: #414141;
}

@media (min-width: 475px) {
    .product1  {
        /* background-color: #664242; */
        max-width: 475px;

    }
}
@media (min-width: 640px) {
    .product1  {

        background-color: #fa3200;
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .product1  {
        background-color: #007bff;
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .product1  {
        background-color: #28a745;
        max-width: 1024px;
    }

    .product1 .back{
        position: absolute;
        top: 0;
        left: 5%;
    }

    .product1 .box{
        height: 900px;
        width: 40%;
        margin-top: 50px;
    }
}
@media (min-width: 1280px) {
    .product1  {
        background-color: #ffc107;
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .product1  {
        background-color: #17a2b8;
        max-width: 1536px;
    }
}
